{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}
    <p> 
    	<div>
    		<label for="username">User name:</label>
    	</div>
    	<div>
    		<input type="text" name="username" value="" id="username">
    	</div>
    </p>
    <p>
    	<div>
	    	<label for="password">Password:</label>
	    </div>
	    <div>
	    	<input type="password" name="password" value="" id="password">
	    </div>
	</p>
	<p>
	    <input type="submit" value="login" />
	    <input type="hidden" name="next" value="{{ next|escape }}" />
	   </p>
  </form>
  <div>
  	<span>Forgot your password ? </span><a href="{% url django.contrib.auth.views.password_reset %}">reset</a>
  </div>
{% endblock %}
