{% extends "base.html" %}
{% load custom_humanize %}
{% block courses_menu %}selected{% endblock %}
{% block content %}

<div class="course-title">{{course.title}}</div>

<div class="mainsubnav">
	<div class="subnav mainnavs">
	<ul>
		<li><a class="{% block course_home_submenu %}{%endblock%}" href="{% url lernado.views.course course_id=course.id %}">Course Home</a></li>
		<li><a class="{% block course_participants_submenu %}{%endblock%}" href="{% url lernado.views.course_participants course_id=course.id %}">Participants</a></li>
		<li><a class="{% block course_submissions_submenu %}{%endblock%}" href="{% url lernado.views.all_activity_submissions course_id=course.id %}">Activity Submissions</a></li>
	</ul>
	</div>
</div>

<div>
{% enrollment_status course user request.path %}
</div>
<div>
{% block course_content %}{% endblock %}
</div>

{% endblock %}
